body {
  background-color: #EAF6F6;
  width: auto;
  margin-left: 10%;
  margin-right: 10%;
}
h1 {
  color: #75cac3;
}

h4{
  color:#75cac3;
}

h3 {
  color:  #75cac3;
}

th{
  text-align: left;
  padding-right: 10px;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 6px;
  width: 99%;
}

.pad{
  text-align: right;
  margin-right: auto;
  }

.pic{
  padding-left: 10%;
  padding-right: 10%;
}

.biography{
  margin-left: 10%;
  margin-right: 10%;
}
.padfix{
  padding-left: 50px;
}
